h1,h2{
    font-family: 'Exo';
}
.header-nonLoggedIn .toppanel{
    background-color: #b18535;
    height: 57px;
}
.header-nonLoggedIn .toppanel > div{
    height: 57px;
}
.header-nonLoggedIn .toppanel .logo{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.heroSection{
    background-image: url(/images/5c119fd225812d0d5aae4fff4c745d89.webp);
    background-size: cover;
    min-height: 400px;
}
.registerationBox{
    padding: 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 25px;
    min-height: 600px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.registerationBox .heading{
    font-size: 22px;
    color: #2B2B2B;
    font-weight: 600;
}
.registerationBox .heading > strong{
    font-weight: 900;
}